@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.Card {
  width: 520px;
  word-wrap: break-word;
  background-color: #4e4e4e;
  float: left;
  border-radius: 10px;
  margin: 50px;
  opacity: 0.5;
  p {
    color: #fff;
    font-size: 13pt;
    text-align: justify;
    margin: 10px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Nunito", sans-serif;
  }
  button {
    background-color: #61dafb;
    width: 100%;
    color: black;
    border-radius: 0 0 10px 10px;
    border: 0;
    font-size: 14pt;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: "Nunito", sans-serif;
    &:hover {
      background-color: #0092bb;
    }
  }
  img {
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
  }
  h1 {
    color: #fff;
    text-align: center;
    font-family: "Nunito", sans-serif;
  }
  transition: all 0.4s ease-in-out;
}
.Card:hover {
  opacity: 1;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
  button {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  p {
    text-overflow: clip;
    white-space: inherit;
    height: 100%;
  }
}
