@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a2c2e;
    .headerWords{
        p{
            color:#61dafb;
            font-size: 18pt;
            font-family: 'Nunito', sans-serif;
        }
    }
}