.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a2c2e;
    .headerWords{
        p{
            color:#61dafb;
            font-size: 18pt;
        }
    }
}